/* Theme */
	
/* Generic: Unique; */
	html {
		min-height: 100%;
	}
	body {
		/*Margin*/
			margin-left: 	auto;
			margin-right:	auto;
		/*Size*/
			height: 100vh;
			min-height: 100%;
			width: 100%;
		/*Style*/
			background-color: #404040;
		/*Text*/
			font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: white;
	}
	main {
		/*Size*/
			height: 100%;
			min-height: 100%;
	}
	footer {
		
	}
/* Generic: Common; */
		img {
			margin-left: auto;
			margin-right: auto;
		}
		h1, h2, h3, h4, h5, h6 {
			font-weight: 700;
			text-align: center;
		}
		
	/* Links */
		a {
			color: black;
			text-decoration: none;
		}
		a:hover {
			color: grey;
			text-decoration: none;
		}
/* Custom: Common; */
	
/* Breakpoints */
	
/* Bootstrap Override */
	
/* Custom: Unique; */
	

/*END*/